/* 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  padding: 30px;
  transition: all 0.3s ease;
}


.light {
background: white;
  color: #ffffff;
}


.dark {
  background: black;
  color: #ffffff;
}


.theme-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 15px;
  background: #111827;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}


.filter-bar {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}




form,
table,
div {
  color: black;
}
